@model ICollection<SocialNetwork.Core.Entities.UserPost>

@{
    Layout = "../_Layout";
    ViewBag.Title = "News";
}


<div>
    Create new post <a asp-controller="NewsFeed" asp-action="CreatePost">here</a>
</div>

<div class="feed-posts-container">
    @foreach (var post in Model)
    {
        <div class="card feed-post">
            <div class="card-header">
                <h5>@post.UserProfile?.FirstName @post.UserProfile?.LastName</h5>
                <span class="feed-post-date">@post.Created.ToString("yyyy-MM-dd")</span>
            </div>
            <div class="card-body">@post.Text</div>
        </div>
    }
</div>