@model ICollection<SocialNetwork.Core.Entities.UserPost>

@{
    Layout = "../_Layout";
    ViewBag.Title = "News";
}

<div class="feed-posts">
    @foreach (var post in Model)
    {
        <div class="feed-post">
            <div>@post.UserProfile.FirstName @post.UserProfile.LastName</div>
            <div>@post.Text</div>
        </div>
    }
</div>

<div>
    Create new post <a asp-controller="NewsFeed" asp-action="CreatePost">here</a>
</div>
