@{
    Layout = "../_Layout";
    ViewBag.Title = "SocialNetwork - Registration";
}

<div>
    <h1>Registration</h1>

    <div>
        Don't have account yet? - <a asp-controller="Registration">Register</a>
    </div>
</div>