@{
    Layout = "../_Layout";
    ViewBag.Title = "SocialNetwork - Login";
}


<div>
    <h1>Login</h1>

    <div>
        Don't have account yet? - <a asp-controller="Registration">Register</a>
    </div>
</div>