@model SocialNetwork.Web.ViewModels.LoginViewModel

@{
    Layout = "../_Layout";
    ViewBag.Title = "SocialNetwork - Login";
}

<div class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>

    <form class="form-signin" asp-controller="Login" asp-action="Login" method="post">
        <div asp-validation-summary="All"></div>

        <div>
            <label class="sr-only" asp-for="Username">Username</label>
            <input class="form-control" type="text" asp-for="Username" placeholder="Username"/>
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <label class="sr-only" asp-for="Password">Password</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="Password"/>
            <span asp-validation-for="Password"></span>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>

    <div>
        Don't have account yet? - <a asp-controller="Registration">Register</a>
    </div>
</div>