@model SocialNetwork.Web.ViewModels.ChatsViewModel

@{
    Layout = "../_Layout";
    ViewBag.Title = "Chats";
}

<div class="chats-container">
    @foreach (var peer in Model.Chats)
    {
        <div class="chat-container">
            <div>
                @peer.UserProfile.FirstName @peer.UserProfile.LastName
            </div>
            <div>
                @{
                    var routeData = new Dictionary<string, string>
                    {
                        {"chatId", @peer.ChatId.ToString()}
                    };
                }
                <a asp-action="Chat" asp-controller="Chats" asp-all-route-data="@routeData">Chat!</a>
            </div>
        </div>
    }
</div>