@model SocialNetwork.Web.ViewModels.ChatsViewModel

@{
    Layout = "../_Layout";
    ViewBag.Title = "Chats";
}

<div class="chats-container">
    @foreach (var peer in Model.Chats)
    {
        <div class="chat-container">
            @peer.UserProfile.FirstName + " " @peer.UserProfile.LastName
            <a>Chat!</a>
        </div>
    }
</div>