

body {
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .login-button {
    margin-top: 15px;
}

.user-card {
    margin: 5px;
}

.profiles-container {
    display: flex;
    flex-wrap: wrap;
}

.frinds-base-container {

}

.friends-block-container {
    margin-bottom: 20px;
    border: 1px solid grey;
}

.friends-container {
    display: flex;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 56px; /* Stay at the top */
    left: 0;
    background-color: #e6e6e6;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    display: block;
    border-bottom: 1px solid grey;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #758aa0;
}

.container {
    margin-left: 160px;
}